<!doctype html>
<div> Hi url </div>
<button class="btn btn-success">Click Me</button>
<a href="/lastfmsignin">Sign into Last Fm</a>
<link  rel='stylesheet' type="text/css" href='bower_components/bootstrap/dist/css/bootstrap.css'></link>

<script src="bower_components/socket.io-client/socket.io.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="Services/LastFm/LastFmService.js"></script>